.button {
    margin-top: var.$space-xl;
    margin-right: var.$space-s;
    font-size: 14px;
    width: 130px;
    height: 64px;

    &.primary {
        background-color: var.$red;
    }

    &.secondary {
        background-color: var.$lighter-red;
        color: red;
    }
}