.container {
    display: flex;
    gap: var.$space-xs;
    align-items: flex-end;
    margin-top: var.$space-s;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: stretch;
    }

    svg {
        fill: green;
    }

    button {
        background-color: var.$lighter-green;
        border: 1px solid var.$border-colour-light-green;
        color: green;
    }
}