.wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var.$space-s;
    height: max-content;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    color: var.$grey;
}