.container {
    margin-top: var.$space-s;
    width: 100%;
    background-color: var.$lighter-grey;
    border: 1px solid var.$border-colour-light-grey;
    min-height: 3rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: var.$space-s;

    p {
        margin-left: var.$space-xs;
    }
}

.pill-wrapper {
    display: flex;
    gap: var.$space-xs;
    flex-wrap: wrap;

}