.container {
    display: flex;
    gap: var.$space-xs;
    align-items: flex-end;

    button {
        background-color: var.$lighter-blue;
        border: 1px solid var.$border-colour-light-blue;

        svg {
            fill: blue;
        }
    }
}