// Font sizes
$font-size-xs: 0.5rem;
$font-size-s: 0.75rem;
$font-size-m: 1.2rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;

// Bold

$font-regular: 500;
$font-semi-bold: 600;
$font-bold: 700;


// Spacing
$space-xs: 0.5rem; // 8px
$space-s: 0.75rem; // 12px
$space-xl: 1.5rem; // 24px

//Colours
$red: #e2392f;
$grey: #45566c;
$darker-blue: #165dfb;
$lighter-blue: #e8f5fb;
$lighter-red: #ffe9f2;
$lighter-grey: #fafbfc;
$lighter-green: #e9f7f4;


$border-colour-light-blue: #d6e9fd;
$border-colour-light-red: #ffdbdb;
$border-colour-light-grey: #edf2f6;
$border-colour-light-green: #caf6e0;

$red-shadow: rgba(226, 57, 47, 0.2);
$black-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;